# Brazil_ETL

Here we are extracting monthly burn data for the area of the State of Amazonas, Brazil.<br>
<br>
We will be looking at a five year span from 2014 to 2018.  The goal is to try and see <br>
if there is an increase in the amount of forest fires in the region and if the demand <br>
for soybean and corn is directly linked to it. 

### Data files

We will be using soybean and corn data gathered from Kaggle.com and carbon emissions data gathered from <br>
the Global Fire Emissions Database (GFED).  Data from GFED are all stored in HDF5 files and <br>
requires some drilling down to get to the tables we need -- the monthly carbon emissions table.

### Import Libraries

In [1]:
import h5py
import pandas as pd
import numpy as np
import tables
from sqlalchemy import create_engine

### Connect to the database

In [2]:
engine = create_engine('postgresql://sqladmin:password@localhost:5432/brazil_etl')

### Define dthe data_get function 

This will grab the HDF5 file and go down to the emissions data set.

In [3]:
def data_get(HDF5_file):
    hdf = h5py.File(HDF5_file, "r")
    return hdf['emissions']

### Call the data_get function

In [4]:
ba_2018 = data_get("Resources\GFED4_1s_2018_beta.hdf5")
ba_2017 = data_get("Resources\GFED4_1s_2017_beta.hdf5")
ba_2016 = data_get("Resources\GFED4_1s_2016.hdf5")
ba_2015 = data_get("Resources\GFED4_1s_2015.hdf5")
ba_2014 = data_get("Resources\GFED4_1s_2014.hdf5")
# ba_2013 = data_get("Resources\GFED4_1s_2013.hdf5")
# ba_2012 = data_get("Resources\GFED4_1s_2012.hdf5")

### Define the function to drill into the HDF5 file

The table we need resides in C under each month of the year. <br>
We will extract this data and put it to a dataframe.<br>
We then filter the data frame from column 444 to 519  and from row 352 to 399.<br>
The table corresponds to the lat, long coordinates for the rectangular area that <br>
is roughly the area of the State of Amazonas, Brazil.

In [5]:
def drill_down(ba_YYYY,mnth):
    ba_mnth = ba_YYYY[mnth]
    bf_mnth = ba_mnth['C']
    bf_mnth_df = pd.DataFrame(bf_mnth)
    return bf_mnth_df.iloc[352:399,444:519]

### Create the list for the total dataframe

In [6]:
total = []
year = []

###  Calling the drill_down function 
We call the function for each month starting with January 2018. <br>
We then feed the dataframes to the brazil_etl database in postgresql<br>

#### 2018

In [7]:
bf_2018_01_df = drill_down(ba_2018,'01')
bf_2018_01_df.to_sql('bf_2018_01', engine, if_exists='replace', index=False)

bf_2018_02_df = drill_down(ba_2018,'02')
bf_2018_02_df.to_sql('bf_2018_02', engine, if_exists='replace', index=False)

bf_2018_03_df = drill_down(ba_2018,'03')
bf_2018_03_df.to_sql('bf_2018_03', engine, if_exists='replace', index=False)

bf_2018_04_df = drill_down(ba_2018,'04')
bf_2018_04_df.to_sql('bf_2018_04', engine, if_exists='replace', index=False)

bf_2018_05_df = drill_down(ba_2018,'05')
bf_2018_05_df.to_sql('bf_2018_05', engine, if_exists='replace', index=False)

bf_2018_06_df = drill_down(ba_2018,'06')
bf_2018_06_df.to_sql('bf_2018_06', engine, if_exists='replace', index=False)

bf_2018_07_df = drill_down(ba_2018,'07')
bf_2018_07_df.to_sql('bf_2018_07', engine, if_exists='replace', index=False)

bf_2018_08_df = drill_down(ba_2018,'08')
bf_2018_08_df.to_sql('bf_2018_08', engine, if_exists='replace', index=False)

bf_2018_09_df = drill_down(ba_2018,'09')
bf_2018_09_df.to_sql('bf_2018_09', engine, if_exists='replace', index=False)

bf_2018_10_df = drill_down(ba_2018,'10')
bf_2018_10_df.to_sql('bf_2018_10', engine, if_exists='replace', index=False)

bf_2018_11_df = drill_down(ba_2018,'11')
bf_2018_11_df.to_sql('bf_2018_11', engine, if_exists='replace', index=False)

bf_2018_12_df = drill_down(ba_2018,'12')
bf_2018_12_df.to_sql('bf_2018_12', engine, if_exists='replace', index=False)


bf_2018_yr_df = (bf_2018_01_df + 
                 bf_2018_02_df + 
                 bf_2018_03_df + 
                 bf_2018_04_df + 
                 bf_2018_05_df + 
                 bf_2018_06_df + 
                 bf_2018_07_df + 
                 bf_2018_08_df + 
                 bf_2018_09_df + 
                 bf_2018_10_df + 
                 bf_2018_11_df + 
                 bf_2018_12_df)



bf_2018_yr_df.to_sql('bf_2018_yr', engine, if_exists='replace', index=False)


bf_2018_tot = bf_2018_yr_df.values.sum()
total.append(bf_2018_tot)
year.append("2018")

#### 2017

In [8]:
bf_2017_01_df = drill_down(ba_2017,'01')
bf_2017_01_df.to_sql('bf_2017_01', engine, if_exists='replace', index=False)

bf_2017_02_df = drill_down(ba_2017,'02')
bf_2017_02_df.to_sql('bf_2017_02', engine, if_exists='replace', index=False)

bf_2017_03_df = drill_down(ba_2017,'03')
bf_2017_03_df.to_sql('bf_2017_03', engine, if_exists='replace', index=False)

bf_2017_04_df = drill_down(ba_2017,'04')
bf_2017_04_df.to_sql('bf_2017_04', engine, if_exists='replace', index=False)

bf_2017_05_df = drill_down(ba_2017,'05')
bf_2017_05_df.to_sql('bf_2017_05', engine, if_exists='replace', index=False)

bf_2017_06_df = drill_down(ba_2017,'06')
bf_2017_06_df.to_sql('bf_2017_06', engine, if_exists='replace', index=False)

bf_2017_07_df = drill_down(ba_2017,'07')
bf_2017_07_df.to_sql('bf_2017_07', engine, if_exists='replace', index=False)

bf_2017_08_df = drill_down(ba_2017,'08')
bf_2017_08_df.to_sql('bf_2017_08', engine, if_exists='replace', index=False)

bf_2017_09_df = drill_down(ba_2017,'09')
bf_2017_09_df.to_sql('bf_2017_09', engine, if_exists='replace', index=False)

bf_2017_10_df = drill_down(ba_2017,'10')
bf_2017_10_df.to_sql('bf_2017_10', engine, if_exists='replace', index=False)

bf_2017_11_df = drill_down(ba_2017,'11')
bf_2017_11_df.to_sql('bf_2017_11', engine, if_exists='replace', index=False)

bf_2017_12_df = drill_down(ba_2017,'12')
bf_2017_12_df.to_sql('bf_2017_12', engine, if_exists='replace', index=False)


bf_2017_yr_df = (bf_2017_01_df + 
                 bf_2017_02_df + 
                 bf_2017_03_df + 
                 bf_2017_04_df + 
                 bf_2017_05_df + 
                 bf_2017_06_df + 
                 bf_2017_07_df + 
                 bf_2017_08_df + 
                 bf_2017_09_df + 
                 bf_2017_10_df + 
                 bf_2017_11_df + 
                 bf_2017_12_df)


bf_2017_yr_df.to_sql('bf_2017_yr', engine, if_exists='replace', index=False)

bf_2017_tot = bf_2017_yr_df.values.sum()
total.append(bf_2017_tot)
year.append("2017")

#### 2016

In [9]:
bf_2016_01_df = drill_down(ba_2016,'01')
bf_2016_01_df.to_sql('bf_2016_01', engine, if_exists='replace', index=False)

bf_2016_02_df = drill_down(ba_2016,'02')
bf_2016_02_df.to_sql('bf_2016_02', engine, if_exists='replace', index=False)

bf_2016_03_df = drill_down(ba_2016,'03')
bf_2016_03_df.to_sql('bf_2016_03', engine, if_exists='replace', index=False)

bf_2016_04_df = drill_down(ba_2016,'04')
bf_2016_04_df.to_sql('bf_2016_04', engine, if_exists='replace', index=False)

bf_2016_05_df = drill_down(ba_2016,'05')
bf_2016_05_df.to_sql('bf_2016_05', engine, if_exists='replace', index=False)

bf_2016_06_df = drill_down(ba_2016,'06')
bf_2016_06_df.to_sql('bf_2016_06', engine, if_exists='replace', index=False)

bf_2016_07_df = drill_down(ba_2016,'07')
bf_2016_07_df.to_sql('bf_2016_07', engine, if_exists='replace', index=False)

bf_2016_08_df = drill_down(ba_2016,'08')
bf_2016_08_df.to_sql('bf_2016_08', engine, if_exists='replace', index=False)

bf_2016_09_df = drill_down(ba_2016,'09')
bf_2016_09_df.to_sql('bf_2016_09', engine, if_exists='replace', index=False)

bf_2016_10_df = drill_down(ba_2016,'10')
bf_2016_10_df.to_sql('bf_2016_10', engine, if_exists='replace', index=False)

bf_2016_11_df = drill_down(ba_2016,'11')
bf_2016_11_df.to_sql('bf_2016_11', engine, if_exists='replace', index=False)

bf_2016_12_df = drill_down(ba_2016,'12')
bf_2016_12_df.to_sql('bf_2016_12', engine, if_exists='replace', index=False)


bf_2016_yr_df = (bf_2016_01_df + 
                 bf_2016_02_df + 
                 bf_2016_03_df + 
                 bf_2016_04_df + 
                 bf_2016_05_df + 
                 bf_2016_06_df + 
                 bf_2016_07_df + 
                 bf_2016_08_df + 
                 bf_2016_09_df + 
                 bf_2016_10_df + 
                 bf_2016_11_df + 
                 bf_2016_12_df)


bf_2016_yr_df.to_sql('bf_2016_yr', engine, if_exists='replace', index=False)

bf_2016_tot = bf_2016_yr_df.values.sum()
total.append(bf_2016_tot)
year.append("2016")

#### 2015

In [10]:
bf_2015_01_df = drill_down(ba_2015,'01')
bf_2015_01_df.to_sql('bf_2015_01', engine, if_exists='replace', index=False)

bf_2015_02_df = drill_down(ba_2015,'02')
bf_2015_02_df.to_sql('bf_2015_02', engine, if_exists='replace', index=False)

bf_2015_03_df = drill_down(ba_2015,'03')
bf_2015_03_df.to_sql('bf_2015_03', engine, if_exists='replace', index=False)

bf_2015_04_df = drill_down(ba_2015,'04')
bf_2015_04_df.to_sql('bf_2015_04', engine, if_exists='replace', index=False)

bf_2015_05_df = drill_down(ba_2015,'05')
bf_2015_05_df.to_sql('bf_2015_05', engine, if_exists='replace', index=False)

bf_2015_06_df = drill_down(ba_2015,'06')
bf_2015_06_df.to_sql('bf_2015_06', engine, if_exists='replace', index=False)

bf_2015_07_df = drill_down(ba_2015,'07')
bf_2015_07_df.to_sql('bf_2015_07', engine, if_exists='replace', index=False)

bf_2015_08_df = drill_down(ba_2015,'08')
bf_2015_08_df.to_sql('bf_2015_08', engine, if_exists='replace', index=False)

bf_2015_09_df = drill_down(ba_2015,'09')
bf_2015_09_df.to_sql('bf_2015_09', engine, if_exists='replace', index=False)

bf_2015_10_df = drill_down(ba_2015,'10')
bf_2015_10_df.to_sql('bf_2015_10', engine, if_exists='replace', index=False)

bf_2015_11_df = drill_down(ba_2015,'11')
bf_2015_11_df.to_sql('bf_2015_11', engine, if_exists='replace', index=False)

bf_2015_12_df = drill_down(ba_2015,'12')
bf_2015_12_df.to_sql('bf_2015_12', engine, if_exists='replace', index=False)


bf_2015_yr_df = (bf_2015_01_df + 
                 bf_2015_02_df + 
                 bf_2015_03_df + 
                 bf_2015_04_df + 
                 bf_2015_05_df + 
                 bf_2015_06_df + 
                 bf_2015_07_df + 
                 bf_2015_08_df + 
                 bf_2015_09_df + 
                 bf_2015_10_df + 
                 bf_2015_11_df + 
                 bf_2015_12_df)


bf_2015_yr_df.to_sql('bf_2015_yr', engine, if_exists='replace', index=False)

bf_2015_tot = bf_2015_yr_df.values.sum()
total.append(bf_2015_tot)
year.append("2015")

#### 2014

In [11]:
bf_2014_01_df = drill_down(ba_2014,'01')
bf_2014_01_df.to_sql('bf_2014_01', engine, if_exists='replace', index=False)

bf_2014_02_df = drill_down(ba_2014,'02')
bf_2014_02_df.to_sql('bf_2014_02', engine, if_exists='replace', index=False)

bf_2014_03_df = drill_down(ba_2014,'03')
bf_2014_03_df.to_sql('bf_2014_03', engine, if_exists='replace', index=False)

bf_2014_04_df = drill_down(ba_2014,'04')
bf_2014_04_df.to_sql('bf_2014_04', engine, if_exists='replace', index=False)

bf_2014_05_df = drill_down(ba_2014,'05')
bf_2014_05_df.to_sql('bf_2014_05', engine, if_exists='replace', index=False)

bf_2014_06_df = drill_down(ba_2014,'06')
bf_2014_06_df.to_sql('bf_2014_06', engine, if_exists='replace', index=False)

bf_2014_07_df = drill_down(ba_2014,'07')
bf_2014_07_df.to_sql('bf_2014_07', engine, if_exists='replace', index=False)

bf_2014_08_df = drill_down(ba_2014,'08')
bf_2014_08_df.to_sql('bf_2014_08', engine, if_exists='replace', index=False)

bf_2014_09_df = drill_down(ba_2014,'09')
bf_2014_09_df.to_sql('bf_2014_09', engine, if_exists='replace', index=False)

bf_2014_10_df = drill_down(ba_2014,'10')
bf_2014_10_df.to_sql('bf_2014_10', engine, if_exists='replace', index=False)

bf_2014_11_df = drill_down(ba_2014,'11')
bf_2014_11_df.to_sql('bf_2014_11', engine, if_exists='replace', index=False)

bf_2014_12_df = drill_down(ba_2014,'12')
bf_2014_12_df.to_sql('bf_2014_12', engine, if_exists='replace', index=False)


bf_2014_yr_df = (bf_2014_01_df + 
                 bf_2014_02_df + 
                 bf_2014_03_df + 
                 bf_2014_04_df + 
                 bf_2014_05_df + 
                 bf_2014_06_df + 
                 bf_2014_07_df + 
                 bf_2014_08_df + 
                 bf_2014_09_df + 
                 bf_2014_10_df + 
                 bf_2014_11_df + 
                 bf_2014_12_df)


bf_2014_yr_df.to_sql('bf_2014_yr', engine, if_exists='replace', index=False)

bf_2014_tot = bf_2014_yr_df.values.sum()
total.append(bf_2014_tot)
year.append("2014")

### Totals Table

We create a yearly totals table that has the total carbon emissions for the area of interest.  In grams of Carbon per square meter. <br>
<br>
First we zip the two lists created from above.  The we create a datafram with an index of 0 and the columns based on the year.

In [12]:
yearly = dict(zip(year, total))
yearly_carbon_total_df = pd.DataFrame(yearly, index=[0])
yearly_carbon_total_df

           2018         2017          2016          2015          2014
0  47763.775312  94251.34274  73999.727749  102745.33422  59301.509501

#### We import the table to PostGres

In [13]:
yearly_carbon_total_df.to_sql('yearly_carbon_total', engine, if_exists='replace', index=False)